<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Sign Up</h1>
  <div>{{data}}</div>



<p><a href="/">Return to homepage</a></p>

<form method="POST" action="adduser">
<p>All information must be fulfilled  
<p>Username: <input type="text" name="user"> 
<p>Password: <input type="text" name="password">
<p>Email: <input type="text" name="email"> 
<p>First Name: <input type="text" name="first"> 
<p>Last Name: <input type="text" name="last"> 
<p>Age: <input type="text" name="age">  
<p><input type="submit" value="Sign Up"></p>

</form>

</body>


</html>
